/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';

@keyframes fade-up {
  0% {margin-top: 35vh; opacity: 0;}
  100% {margin-top: 25vh; opacity: 1;}
}

body {
  background-image: radial-gradient(ellipse farthest-corner at 50%, $white 25%, $light-grey 120%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: $black;
}

#gradient {
  background-color: $black;
  opacity: 0;
  position:fixed;
  height: 100vh;
  width: 100vw;
}

.content-body {
  margin: auto;
  padding-top: 80px;
  position: relative;
}

button {
  padding: 5px;
  background-color: inherit;
  border: 1px solid $light-grey;
  border-radius: 3px;
  color: $grey;
  font-family: $text;
  transition: .5s;
}

button:hover {
  background-color: $white;
  transition: .5s;
  filter: drop-shadow(2px 2px 2px $light-grey);
  cursor: pointer;
}

button:disabled {
  opacity: .2;
  pointer-events: none;
}

button:active {
  transition: .1s;
  background-color: $light-grey;
  filter: drop-shadow(0px 0px 0px $white);
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 20vh;
    font-family: $display;
    font-style: italic;
    font-size: 48px;
    text-shadow: 1px 1px 2px $grey;
  }

  p {
    font-family: $text;
    font-size: 24px;
    margin: 20px;
  }

  li {
    margin: 5px;
    font-family: $text;
    font-size: 18px;
  }
}


footer {
  display: none;
}
