@import 'variables';

.site-footer {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-around;

  padding: 10px;

  p, a {
    font-size: 12px;
    font-family: $text;
    text-decoration: none;
    color: $grey;
    transition: .1s;
  }

  a {
    &:hover {
      cursor: pointer;
    }
  }

}
