@import 'variables';

.greeting {
  z-index: 1000;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  // height: 10px;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: $display;
    font-style: italic;
    text-shadow: 2px 2px 1px $light-grey;
  }

  a {
    margin-left: 20px;
    color: black;
  }

  h1 {
    margin-right: 20px;
  }


}
