@import 'variables';

@keyframes open-search {
  0% {max-height: 0px;}
  100% {max-height: 50vh;}
}

.greeting {
  z-index: 1000;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: $display;
    font-style: italic;
    text-shadow: 2px 2px 1px $light-grey;
    a {
      margin-left: 20px;
      color:$black;
    }

    h1 {
      margin-right: 20px;
    }
  }


  .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
      color: $black;
      font-family: $display;
      font-style: italic;
      text-shadow: 2px 2px 1px $light-grey;
    }

    input {
      margin-left: 20px;
      width: 40vw;
      font-family: $text;
      color:$black;

      background-color: inherit;

      padding: 5px;
      border-left: 1px solid $light-grey;
      border-top: 1px solid $light-grey;
      border-bottom: none;
      border-right: none;
      border-radius: 3px;
      transition: 1s;
      transition-delay: .5s;

      &:focus {
        background-color: $white;
        transition: .12s;
      }
    }

    .search-results {
      position: absolute;
      top: 30px;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $white;
      max-height: 50vh;
      width: 40vw;


      border-left: 1px solid $light-grey;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      -webkit-transition: all .5s cubic-bezier(0,0,1,0);
      animation-name: open-search;
      animation-duration: .5s;
      animation-timing-function: ease-out;

      h1 {
        font-family: $display;
        font-style: italic;
        text-align: center;
        border-bottom: 1px solid $light-grey;
        padding: 5px;
      }

      li {
        font-family: $text;
        font-size: 12px;
        padding: 5px;
        transition: .5s;

        a {
          margin: 0px;
          text-decoration: none;
        }

        &:hover {
          background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
          transition: .12s;
        }
      }
    }
    .exit-search {
      max-height: 0px;
    }
  }
}
